.footer {
    padding: 40px 0 20px 0;
    background-color: #9001be;
    color: #fff;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.footer__flex-block {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    gap: 200px;
    padding-bottom: 30px;
    border-bottom: 2px solid #fff;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer__logo {
    display: flex;
    align-items: start;
    flex-direction: column;
    p {
        font-size: 15px;
        margin-left: 24px;
    }
    img {
        width: 200px;
    }
}

.footer__title {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding-top: 20px;
    ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        h1 {
            font-size: 24px;
            border-bottom: 2px solid #fff;
        }
        a {
            color: #fff;
        }
        b {
            padding: 0 0 10px 0;
        }
    }
}

.footer__flex {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

.footer__icon {
    display: flex;
    align-items: center;
    gap: 10px;
    a {
        font-size: 30px;
    }
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    h3 {
        color: #bdbdbd;
        font-size: 18px;
    }
    p {
        font-size: 15px;
        color: #bdbdbd;
        a {
            color: #bdbdbd;
            border-bottom: 1px solid #bdbdbd;
            cursor: pointer;
        }
    }
}
